# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Pyright/ruff/ty cache
.pyright/
ruff_cache/
.typing_cache
.dmypy.json
.mypy_cache/
.pyre/

# Test/log/artifact files
*.log
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.tox/
.nox/

# SQLite/DB
*.db
*.sqlite3

# OS junk files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Docker
**/Dockerfile

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Lock files
poetry.lock
Pipfile.lock
uv.lock

# Secrets
.env
.env.*



**/.venv